In [13]:
%pip install azure-storage-file-datalake

Requirement already satisfied: azure-storage-file-datalake in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (12.22.0)
Requirement already satisfied: azure-core>=1.30.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-storage-file-datalake) (1.36.0)
Requirement already satisfied: azure-storage-blob>=12.27.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-storage-file-datalake) (12.27.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-storage-file-datalake) (4.15.0)
Requirement already satisfied: isodate>=0.6.1 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-storage-file-datalake) (0.7.2)
Requirement already satisfied: requests>=2.21.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-core>=1.30.0->azure-storage-file-datalake) (2.32.5)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from azure-storage-blob>=12.27.0->azure-storage-file-datalake) (46.0.3)
Requirement already satisfied: cffi>=2.0.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from cryptography>=2.1.4->azure-storage-blob>=12.27.0->azure-storage-file-datalake) (2.0.0)
Requirement already satisfied: pycparser in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from cffi>=2.0.0->cryptography>=2.1.4->azure-storage-blob>=12.27.0->azure-storage-file-datalake) (2.23)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-file-datalake) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-file-datalake) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-file-datalake) (2.6.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-file-datalake) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (4.14.3)
Requirement already satisfied: soupsieve>=1.6.1 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from beautifulsoup4) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
pip install lxml

Requirement already satisfied: lxml in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
pip install pandas

Requirement already satisfied: pandas in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akook\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akook\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\akook\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# Scrapping

In [6]:
import pandas as pd
import requests
import io # Importamos la biblioteca io para manejar strings como archivos

# URL de la p√°gina de Wikipedia
url = "https://en.wikipedia.org/wiki/List_of_association_football_stadiums_by_capacity"

# üõ°Ô∏è Definir el User-Agent para simular un navegador y evitar el 403
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
}

print("Paso 1: Realizando la solicitud HTTP con User-Agent...")
try:
    # 1. Hacemos la solicitud GET con los headers
    response = requests.get(url, headers=headers)
    response.raise_for_status() # Lanza un error si el status code es 4xx o 5xx
    
    # 2. Leemos el contenido de la respuesta y lo envolvemos en io.StringIO
    # Esto permite a Pandas tratar la cadena HTML como un archivo.
    html_content = io.StringIO(response.text)
    
    print("Paso 2: Solicitud exitosa (Status 200). Leyendo tablas...")

    # 3. Usamos pd.read_html para leer el contenido del "archivo" en memoria
    # El argumento 'match' ayuda a encontrar la tabla principal.
    tables = pd.read_html(html_content, match='Stadium', header=0) 
    
    # La tabla de estadios es la primera que contiene la columna "Stadium".
    df_stadiums = tables[0]

    print("‚úÖ ¬°DataFrame extra√≠do con √©xito!")
    
    # Mostrar las primeras 5 filas y la informaci√≥n de las columnas
    print("\n--- Primeras 5 filas ---")
    print(df_stadiums.head())
    print("\n--- Informaci√≥n del DataFrame ---")
    df_stadiums.info()

except requests.exceptions.HTTPError as err:
    print(f"‚ùå Error HTTP al obtener la p√°gina: {err}")
except Exception as e:
    print(f"‚ùå Error al procesar las tablas: {e}")

Paso 1: Realizando la solicitud HTTP con User-Agent...
Paso 2: Solicitud exitosa (Status 200). Leyendo tablas...
‚úÖ ¬°DataFrame extra√≠do con √©xito!

--- Primeras 5 filas ---
   Rank                                 Stadium Seating capacity     Region  \
0     1           Rungrado 1st of May Stadium ‚ô¶       114,000[1]  East Asia
1     2                              Camp Nou ‚ô¶        99,354[2]     Europe
2     3                           FNB Stadium ‚ô¶        94,736[3]     Africa
3     4  New Admin¬≠is¬≠trative Capital Stadium ‚ô¶        93,940[4]     Africa
4     5                       Wembley Stadium ‚ô¶        90,000[5]     Europe

        Country                        City  Images  \
0   North Korea                   Pyongyang     NaN
1         Spain        Barcelona, Catalonia     NaN
2  South Africa       Johannesburg, Gauteng     NaN
3         Egypt  New Administrative Capital     NaN
4       England             London, England     NaN

                                        Home team(s)
0  Korea DPR national football team, Korea DPR wo...
1                                       FC Barcelona
2  South Africa national football team, Kaizer Ch...
3                       Egypt national football team
4                     England national football team

--- Informaci√≥n del DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              352 non-null    int64
 1   Stadium           352 non-null    object
 2   Seating capacity  352 non-null    object
 3   Region            352 non-null    object
 4   Country           352 non-null    object
 5   City              352 non-null    object
 6   Images            0 non-null      float64
 7   Home team(s)      298 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 22.1+ KB

In [7]:
display(df_stadiums)

,Rank,Stadium,Seating capacity,Region,Country,City,Images,Home team(s)
0,1,Rungrado 1st of May Stadium ‚ô¶,"114,000[1]",East Asia,North Korea,Pyongyang,NaN,"Korea DPR national football team, Korea DPR wo..."
1,2,Camp Nou ‚ô¶,"99,354[2]",Europe,Spain,"Barcelona, Catalonia",NaN,FC Barcelona
2,3,FNB Stadium ‚ô¶,"94,736[3]",Africa,South Africa,"Johannesburg, Gauteng",NaN,"South Africa national football team, Kaizer Ch..."
3,4,New Admin¬≠is¬≠trative Capital Stadium ‚ô¶,"93,940[4]",Africa,Egypt,New Administrative Capital,NaN,Egypt national football team
4,5,Wembley Stadium ‚ô¶,"90,000[5]",Europe,England,"London, England",NaN,England national football team
...,...,...,...,...,...,...,...,...
347,348,Bao'an Stadium,40000,East Asia,China,"Shenzhen, Guangdong",NaN,NaN
348,349,Kunming Tuodong Sports Centre Stadium,40000,East Asia,China,"Kunming, Yunnan",NaN,China national football team
349,350,Taizhou Sports Centre Stadium,40000,East Asia,China,"Taizhou, Zhejiang",NaN,NaN
350,351,Wuhu Olympic Stadium,40000,East Asia,China,"Wuhu, Anhui",NaN,NaN
351,352,Huizhou Olympic Stadium,40000,East Asia,China,"Huizhou, Guangdong",NaN,NaN

## Limpieza de datos

In [10]:
import pandas as pd
import re
# NOTA: Debes asegurarte de que el DataFrame 'df_stadiums' (extra√≠do previamente) est√© cargado en tu entorno.

# --- 1. Limpieza de la columna 'Stadium' ---
# El car√°cter '‚ô¶' puede aparecer en algunos nombres de estadios.
df_stadiums['Stadium'] = df_stadiums['Stadium'].astype(str).str.replace('‚ô¶', '', regex=False).str.strip()

# --- 2. Limpieza de la columna 'Capacity' ---
# 2.1 Eliminar n√∫meros entre corchetes (ej: [1], [2]...) que representan referencias.
# El patr√≥n r'\[.*?\]' busca cualquier texto dentro de corchetes.
df_stadiums['Seating capacity'] = df_stadiums['Seating capacity'].astype(str).str.replace(r'\[.*?\]', '', regex=True)

# 2.2 Eliminar cualquier car√°cter de nueva l√≠nea '\n' (saltos de l√≠nea) y espacios al inicio/final.
df_stadiums['Seating capacity'] = df_stadiums['Seating capacity'].str.replace(r'\n', '', regex=True).str.strip()

# 2.3 Eliminar comas (',') que se usan como separadores de miles para prepararlo para la conversi√≥n num√©rica.
df_stadiums['Seating capacity'] = df_stadiums['Seating capacity'].str.replace(',', '', regex=False)

# 2.4 Convertir la columna 'Capacity' a un tipo num√©rico (integer), forzando errores a NaN.
df_stadiums['Seating capacity'] = pd.to_numeric(df_stadiums['Seating capacity'], errors='coerce')

# --- 3. Eliminar la columna 'Image' ---
# NOTA: En la tabla de Wikipedia, esta columna se llama 'Image/Notes' o similar en el DataFrame.
# La nombraremos seg√∫n la salida de pd.read_html: 'Image/Notes'
if 'Image/Notes' in df_stadiums.columns:
    df_stadiums = df_stadiums.drop(columns=['Image/Notes'])
elif 'Image' in df_stadiums.columns:
    # Si por alguna raz√≥n la columna se llama 'Image'
    df_stadiums = df_stadiums.drop(columns=['Image'])
    
# --- 4. Mostrar el DataFrame limpio ---
print("‚úÖ ¬°Limpieza de datos completada!")
print("\n--- Primeras 5 filas del DataFrame limpio ---")
print(df_stadiums.head())
print("\n--- Informaci√≥n del DataFrame (verificar tipo de 'Capacity') ---")
df_stadiums.info()

‚úÖ ¬°Limpieza de datos completada!

--- Primeras 5 filas del DataFrame limpio ---
   Rank                               Stadium  Seating capacity     Region  \
0     1           Rungrado 1st of May Stadium          114000.0  East Asia
1     2                              Camp Nou           99354.0     Europe
2     3                           FNB Stadium           94736.0     Africa
3     4  New Admin¬≠is¬≠trative Capital Stadium           93940.0     Africa
4     5                       Wembley Stadium           90000.0     Europe

        Country                        City  Images  \
0   North Korea                   Pyongyang     NaN
1         Spain        Barcelona, Catalonia     NaN
2  South Africa       Johannesburg, Gauteng     NaN
3         Egypt  New Administrative Capital     NaN
4       England             London, England     NaN

                                        Home team(s)
0  Korea DPR national football team, Korea DPR wo...
1                                       FC Barcelona
2  South Africa national football team, Kaizer Ch...
3                       Egypt national football team
4                     England national football team

--- Informaci√≥n del DataFrame (verificar tipo de 'Capacity') ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              352 non-null    int64
 1   Stadium           352 non-null    object
 2   Seating capacity  351 non-null    float64
 3   Region            352 non-null    object
 4   Country           352 non-null    object
 5   City              352 non-null    object
 6   Images            0 non-null      float64
 7   Home team(s)      298 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 22.1+ KB

In [11]:
display(df_stadiums)

,Rank,Stadium,Seating capacity,Region,Country,City,Images,Home team(s)
0,1,Rungrado 1st of May Stadium,114000.0,East Asia,North Korea,Pyongyang,NaN,"Korea DPR national football team, Korea DPR wo..."
1,2,Camp Nou,99354.0,Europe,Spain,"Barcelona, Catalonia",NaN,FC Barcelona
2,3,FNB Stadium,94736.0,Africa,South Africa,"Johannesburg, Gauteng",NaN,"South Africa national football team, Kaizer Ch..."
3,4,New Admin¬≠is¬≠trative Capital Stadium,93940.0,Africa,Egypt,New Administrative Capital,NaN,Egypt national football team
4,5,Wembley Stadium,90000.0,Europe,England,"London, England",NaN,England national football team
...,...,...,...,...,...,...,...,...
347,348,Bao'an Stadium,40000.0,East Asia,China,"Shenzhen, Guangdong",NaN,NaN
348,349,Kunming Tuodong Sports Centre Stadium,40000.0,East Asia,China,"Kunming, Yunnan",NaN,China national football team
349,350,Taizhou Sports Centre Stadium,40000.0,East Asia,China,"Taizhou, Zhejiang",NaN,NaN
350,351,Wuhu Olympic Stadium,40000.0,East Asia,China,"Wuhu, Anhui",NaN,NaN
351,352,Huizhou Olympic Stadium,40000.0,East Asia,China,"Huizhou, Guangdong",NaN,NaN

In [14]:
from azure.storage.filedatalake import DataLakeServiceClient
import pandas as pd
import io
import datetime

# Funci√≥n para conectarse al servicio de Azure Data Lake usando la connection string
def connect_to_datalake(connection_string):
    try:
        # Crear una instancia del cliente de DataLake usando la connection string
        datalake_service_client = DataLakeServiceClient.from_connection_string(connection_string)
        return datalake_service_client
    except Exception as e:
        print(f"Error al conectarse a Azure Data Lake: {e}")
        return None

# Cargar el DataFrame a Azure Data Lake
def upload_dataframe_to_datalake(df, datalake_service_client, filesystem_name, file_path):
    try:
        # Acceder al filesystem de Azure Data Lake
        filesystem_client = datalake_service_client.get_file_system_client(filesystem_name)
        
        # Crear o obtener el archivo
        file_client = filesystem_client.get_file_client(file_path)
        
        # Convertir el DataFrame a CSV
        csv_data = df.to_csv(index=False)

        # Subir el CSV a Azure Data Lake
        file_client.upload_data(csv_data, overwrite=True)
        print(f"El archivo ha sido cargado correctamente a {file_path}.")
    except Exception as e:
        print(f"Error al cargar el DataFrame a Data Lake: {e}")

# Par√°metros de conexi√≥n
current_date = datetime.datetime.now().strftime('%Y-%m-%d')

connection_string = "DefaultEndpointsProtocol=https;AccountName=footballdata2004;AccountKey=/BKJz4zQ+8X+XqqArCTv3SLSkDbdIzPz9RXt+298jolnPoVYPuXw1XLcDc0wC01V+pVwfJvLafdq+AStENMpeg==;EndpointSuffix=core.windows.net"
filesystem_name = "footballdata2004"  # El contenedor de tu Data Lake
file_path = f"data/{current_date}/stadiums.csv"  # La ruta dentro del contenedor donde guardar√°s el archivo

# Conectar al DataLake
datalake_service_client = connect_to_datalake(connection_string)

if datalake_service_client:
    # Cargar el DataFrame a Azure Data Lake
    upload_dataframe_to_datalake(df_stadiums, datalake_service_client, filesystem_name, file_path)

El archivo ha sido cargado correctamente a data/2025-12-08/stadiums.csv.